.transition_05 {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/* Colors */
.background-primary{
  background-color: var(--primary) ;
}
.background-secondary {background-color: var(--secondary);}
.c-primary {
    color: var(--primary);
}
.c-gray {
    color: var(--gray-color);
}
.c-secondary {
  color: var(--secondary);
}
.c-white {
    color: white;
}
/* Font */
.fs-medium {
  font-size: var(--fontSize_1-5) !important;
}
.fs_1-8 {
    font-size: var(--fontSize_1-8) !important;
}
.fs_2 {
    font-size: var(--fontSize_2) !important;
}
.fs_3 {
  font-size: var(--fontSize_3) !important;
}
.style-italic {
    font-style: italic;
}
.weight-500 {
  font-weight: 500;
}
.border-none {
    border: none;
}
.w-100{width: 100%;}
.button {
    padding: 8px 10px;
    border: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: white;
    font-size: var(--fontSize_1-8);
    display: block;
    margin: auto;
    width: fit-content;
}
.p-section {
  padding-block: 50px;
}
.heading-margin {
  margin-block: 60px;
}
